
.DS_Store
/build
/MySDK/build
MySDK.xcworkspace/xcuserdata/tanwenzhao.xcuserdatad/UserInterfaceState.xcuserstate

MySDK/MySDK.xcodeproj/project.xcworkspace/xcuserdata/tanwenzhao.xcuserdatad/UserInterfaceState.xcuserstate

MySDK/MySDK.xcodeproj/xcuserdata/tanwenzhao.xcuserdatad/xcschemes/MySDK-Universal.xcscheme

MySDK/MySDK.xcodeproj/xcuserdata/tanwenzhao.xcuserdatad/xcschemes/MySDK.xcscheme

MySDK/MySDK.xcodeproj/xcuserdata/tanwenzhao.xcuserdatad/xcschemes/xcschememanagement.plist

MySDKTests/MySDKTests.xcodeproj/project.xcworkspace/xcuserdata/tanwenzhao.xcuserdatad/UserInterfaceState.xcuserstate

MySDKTests/MySDKTests.xcodeproj/xcuserdata/tanwenzhao.xcuserdatad/xcschemes/MySDKTests.xcscheme

MySDKTests/MySDKTests.xcodeproj/xcuserdata/tanwenzhao.xcuserdatad/xcschemes/xcschememanagement.plist
